html {
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: rgb(230, 230, 230);
}
.images-container {
  /* display: flex;
  flex-flow: wrap; */
  /* justify-content: center;
  align-items: center; */
  position: absolute;
  color: white;
  padding: 2rem;
  width: 60%;
  height: auto;
  margin: 30px;
  background-color: rgba(172, 169, 169, 0.613);

}
.image{
  /* position: relative;
  display: flex;
  flex-flow: wrap;
  background-color: rgba(255, 255, 255, 0.353); */
  /* width: 100%;
  height:100%; */

  
}
#shuffle{
 align-items: center;
  margin-top: 2rem;
  background-color: #444f49;
  border-radius: 100px;
  box-shadow: 5px 7px 5px 7px rgba(0, 0, 0, 0.166) ;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.buttons{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#shuffle:hover {
  box-shadow: rgba(0, 0, 0, 0.35);
  background-color: #bbdec8;
  transform: scale(1.1) rotate(-1deg);
}

.my-images{
  /* /* display: flex; */
  position: relative;
  flex-flow: wrap; 
  color: white;
  padding: 5px;
  width: 12rem;
  height: 12rem;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  
  

}
/* .SignIn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px;
  font-size: 30px;
  width: 30%;
  height: 50%;
  margin-bottom: 30px;
  background-color: rgb(97, 96, 96);
  visibility: hidden;
} */
/* .welcomeText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 25px;
  font-size: 30px;
  width: 30%;
  height: 50%;
  margin-bottom: 30px;
  background-color: rgb(97, 96, 96);
  visibility: hidden;
}
.buttonsContainer {
  margin-top: 20%;
  display: flexbox;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgb(115, 115, 115);
}
button {
  border-radius: 2rem;
  padding: 0 1.5rem;
  font-size: 30px;
  margin-left: 20%;
  box-shadow: 0 6px 6px 6px rgba(0, 0, 0, 0.29);
}
button:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: white;
  background-color: rgb(0, 255, 0);
}
#fname {
  margin-bottom: 15%;
}
input {
  width: auto;
  height: 2rem;
  border-radius: 6%;
  color: (18, 17, 17);
  /* font-style: italic; */
  font-size: 25px;
}

input::placeholder {
  width: auto;
  height: 2rem;
  border-radius: 6%;
  color: rgba(18, 17, 17, 0.245);
  font-style: italic;
  font-size: 20px;
  font-weight: 600;
} */
